---
# tasks file for adambware.zsh

  - name: Ensure zsh is installed via homebrew
    homebrew:
      name=zsh
      state=present
      install_options=disable-etcdir

  - name: Checking current shell
    shell: echo $SHELL
    register: current_shell

  - name: Ensure brew'd zsh added to /etc/shells
    become: yes
    become_method: sudo
    remote_user: "{{ main_username }}"
    lineinfile:
      dest=/etc/shells
      line="/usr/local/bin/zsh"
    when:
      current_shell.stdout != '/usr/local/bin/zsh'

  - name: Ensure brew'd zsh set as default shell
    remote_user: "{{ main_username }}"
    shell: chsh -s /usr/local/bin/zsh
    when:
      current_shell.stdout != '/usr/local/bin/zsh'

  - name: Ensure oh-my-zsh is installed
    shell: sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"
      creates=~/.oh-my-zsh

  - name: Deploy .zshrc
    copy:
      src=roles/adambware.zsh/files/zshrc.in
      dest=~/.zshrc
      owner={{ main_username }}

  - name: Deploy adambware.zsh-theme
    copy:
      src=roles/adambware.zsh/files/adambware.zsh-theme.in
      dest=~/.oh-my-zsh/custom/adambware.zsh-theme
      owner={{ main_username }}
