---
# tasks file for adambware.zsh

  - name: Ensure zsh is installed via homebrew
    homebrew:
      name=zsh
      state=present
      install_options=disable-etcdir

  - name: Checking default shell
    shell: dscl . -read /Users/{{ main_username }} UserShell | awk '{print $2}'
    register: default_shell

  - name: Ensure brew'd zsh added to /etc/shells
    become: yes
    become_method: sudo
    remote_user: "{{ main_username }}"
    lineinfile:
      dest=/etc/shells
      line="/usr/local/bin/zsh"
    when:
      default_shell.stdout != '/usr/local/bin/zsh'

  - name: Ensure brew'd zsh set as default shell
    remote_user: "{{ main_username }}"
    shell: chsh -s /usr/local/bin/zsh
    when:
      default_shell.stdout != '/usr/local/bin/zsh'

  - name: Ensure oh-my-zsh is installed
    shell: sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"
      creates=~/.oh-my-zsh

  - name: Deploy zsh config
    copy:
      src=roles/adambware.zsh/files/config.zsh.in
      dest=~/.oh-my-zsh/custom/config.zsh
      owner={{ main_username }}

  - name: Deploy oh-my-zsh config
    copy:
      src=roles/adambware.zsh/files/ohmyzsh.zsh.in
      dest=~/.oh-my-zsh/custom/ohmyzsh.zsh
      owner={{ main_username }}

  - name: Deploy aliases
    copy:
      src=roles/adambware.zsh/files/aliases.zsh.in
      dest=~/.oh-my-zsh/custom/aliases.zsh
      owner={{ main_username }}

  - name: Deploy environment vars
    copy:
      src=roles/adambware.zsh/files/env.zsh.in
      dest=~/.oh-my-zsh/custom/env.zsh
      owner={{ main_username }}

  - name: Deploy completions
    copy:
      src=roles/adambware.zsh/files/completion.zsh.in
      dest=~/.oh-my-zsh/custom/completion.zsh
      owner={{ main_username }}

  - name: Deploy adambware.zsh-theme
    copy:
      src=roles/adambware.zsh/files/adambware.zsh-theme.in
      dest=~/.oh-my-zsh/custom/adambware.zsh-theme
      owner={{ main_username }}
