---
# tasks file for adambware.node
  - name: Ensure Homebrew is installed
    shell: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      creates=/usr/local/bin/brew

  - name: Update Homebrew
    homebrew:
      update_homebrew=yes

  - name: Install node.js without npm
    homebrew:
      name: node
      state: latest

  - name: Install n (simple node version management)
    environment:
      PATH: "~/.node/bin:{{ ansible_env.PATH }}"
    shell: npm install -g n
      creates=~/.node/bin/n

  - name: Install stable node under n
    environment:
      PATH: "~/.node/bin:{{ ansible_env.PATH }}"
    shell: n stable
