---
# tasks file for adambware.homebrew-install

  # - name: Check if Homebrew is installed
  #   stat: path=/usr/local/bin/brew
  #   register: brew_installed
#    when: brew_installed.stat.exists == false

  - name: Ensure Homebrew is installed
    shell: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      creates=/usr/local/bin/brew

  - name: Tap Kegs
    homebrew_tap:
      tap="{{ item }}"
      state=present
    with_items:
      - homebrew/binary
      - homebrew/completions
      - homebrew/dupes
      - caskroom/cask
