---
# tasks file for adambware.homebrew-install

  - name: Ensure that homebrew is installed with the script method
    shell: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
    register: homebrew_result
    failed_when: "homebrew_result.rc != 0 and 'Homebrew is already installed' not in homebrew_result.stderr"

# name: Check Homebrew is installed
#  stat: path=/usr/local/bin/brew
#  register: brew_installed
#
# name: Install Homebrew
#  shell: ruby -e "$(curl -fsSL https://raw.github.com/Homebrew/homebrew/go/install)"
#  when: brew_installed.stat.exists == false

  - name: Update Homebrew
    homebrew:
      update_homebrew=yes

  - name: Tap Kegs
    homebrew_tap:
      tap="{{ item }}"
      state=present
    with_items:
      - homebrew/binary
      - homebrew/completions
      - homebrew/dupes
      - homebrew/versions
      - caskroom/cask
