---
# tasks file for adambware.homebrew-casks
  - name: Ensure Homebrew is installed
    shell: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      creates=/usr/local/bin/brew

  - name: Update Homebrew
    homebrew:
      update_homebrew=yes

  - name: Ensure casks are installed
    shell: brew cask install --appdir="/Applications" {{ item }}
      creates=/opt/homebrew-cask/Caskroom/{{ item }}
    with_items: "{{ casks }}"
