---
# tasks file for adambware.homebrew-packages
  - name: Ensure Homebrew is installed
    shell: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      creates=/usr/local/bin/brew

  - name: Update Homebrew
    homebrew:
      update_homebrew=yes

  - name: Ensure Pyenv is installed
    homebrew:
      name=pyenv
      state=latest

  - name: Ensure The Silver Searcher (ag) is installed
    homebrew:
      name=the_silver_searcher
      state=latest

  - name: Ensure wget is installed
    homebrew:
      name=wget
      state=latest

  - name: Ensure youtube downloader is installed
    homebrew:
      name=youtube-dl
      state=latest
